@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Poppins", sans-serif;
}
@layer base {
  body {
    @apply bg-emerald-50;
  }
  .irregular-border {
    height: 300px;
    width: 400px;
    background-color: rgba(21, 128, 61, 1);
    border-radius: 2% 97% 24% 96% / 52% 95% 27% 85%;
    margin: 0px 70px;
  }
}

@media screen and (max-width: 768px) {
  .irregular-border {
    width: 200px;
    height: 100px;
  }
}
